#cardPreview {
    position: fixed;
    width: 250px;
    pointer-events: none;
    border: 1px solid #666;
    background: white;
    z-index: 1000;
}

.zebra-table tbody tr:nth-child(even) {
    background-color: #183434;
    color: white;
}

.zebra-table tbody tr:nth-child(odd) {
    background-color: #152b2b;
    color: white;
}

.zebra-table tbody tr:hover {
    background-color: #53b570;
    color:black
}

.table-container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 20px;
}

.form-col {
    flex-direction: column!important;
}

input[type="file"] {
    display: none;
}

.center-just-space {
    display: flex;
    justify-content: space-between;
    align-items: center;    

}

#exportButtonsList {

}
.flexVerticalOnMobile {
    flex-direction: column!important;
}

@media (min-width: 850px) {
    .flexVerticalOnMobile {
    flex-direction: row!important; 
  }
}

.flexHorzOnMobile {
    flex-direction: row!important;
}

@media (min-width: 850px) {
    .flexHorzOnMobile {
        flex-direction: column!important;
  }
}